* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    margin: 50 50;
    min-width: 400px;
    max-width: 800px;
    word-wrap: break-word;
}

li {
    margin: 0 20;
}